@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Versity</h1>
    <p class="lead">Versity is going to revolutionize the college food world</p>
    <p><a href="http://html5zombo.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>No Money?</h2>
        <p>
            We have you covered. Simply enter the amount of money that 
            you have on you and we'll find the closest food.
        </p>
    </div>
    <div class="col-md-4">
        <h2>By starving college kids, for starving college kids</h2>
        <p>We know how hard it is to find good, cheap food. So let us do it for you.</p>
    </div>
    <div class="col-md-4">
        <h2>For restaurants</h2>
        <p>Have a restaurant in a supported area? Give us your menu and deals!</p>
    </div>
</div>