@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>We're broke college students, just like you.</h3>

<div class="row">
    <div class="col-md-6">
        <p class="front-page-content">
            We're building this app because we want to use it. One of our founders looked in his pocket one night, saw $6, and said,
            "What can I get for this?" We thought, "Hey, there's probably an app for that." But there wasn't. Se we decided to take
            matters into our own hands, and create something that we truly believe will be of value to college students everywhere.
        </p>
    </div>
</div>