@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    Direct all e-mail to <a href="mailto:jacob@chrisbrooks.org">jacob@chrisbrooks.org</a><br />
</address>