@{
    ViewBag.Title = "Home";
}

<div class="jumbotron row">
    <div class="col-md-3">
        <img src="~/Content/Images/logo_small.jpg" class="img-responsive" />
    </div>
    <div class="col-md-8">
        <h1>Versity</h1>
        <p class="lead">We are going to revolutionize the college food world</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <h1>Who are we?</h1>
                <p class="front-page-content">
                    Versity is an upcoming app that will revolutionize the college food world. We are an app designed and targeted for students in college,
                    who are looking for a quick and smooth way to find the nearest food restaurants within their specified price range.
                </p>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <h1>What problem did we see?</h1>
                <p class="front-page-content">
                    When it comes to the mobile food industry, there is a gap that has yet to be filled. Lacking the ability to create a way that college
                    students can easily find restaurants within their budget is creating a devastating hole in every students wallet. Looking at the curent app market,
                    this target has been completely skipped over. There's no easy way to find nearby restaurants within a specific budget - we aim to change that.
                </p>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <h1>How do we solve that problem?</h1>
                <p class="front-page-content">
                    With the college prices high, and the bank account low, Versity enables students to find restaurants fast and at their affordable price. Versity will master the college food world and
                    permit students to see exactly what is available at their budget. We go further than generalizing to a type of restaurant or menu. Filtering based on price and other preferences, we will
                    dispaly exactly what is on matched restaurants' menus. No longer will students have to worry about whether they can afford a restaurant or not, because
                    they know that they can find something to eat with whatever amount of money they have.
                </p>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <h1>What makes us different from Yelp and other search sites?</h1>
                <p class="front-page-content">
                    The market of food is a broad and well-saturated market. When you break it down into the mobile food industry, you get a vast range of apps to download that essentially
                    operate the same functions. Versity differs by allowing customers to insert a budget down to every last cent.
                    If a user only had $6.54 in their wallet and wanted to see what they can get for that amount, they won’t have to sift through the dollar amounts higher that were included
                    in their range of filter. This makes Versity diverse and truly user friendly. Taking it further, Versity
                    is a search site, but also incorporates the function of an online menu. You can find the restaurant that you want to eat at for your price, but even further you can view the
                    menu and see exactly what you could purchase. This rich data will distinguish us from the rest of the market and create a unique and valuable experience
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row top-buffer">
            <img src="~/Content/Images/school_selection.jpg" class="img-responsive" />
        </div>
        <div class="row top-buffer">
            <img src="~/Content/Images/budget_page.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="row" style="margin-top: 200px; margin-left: 0px;">
            <img src="~/Content/Images/food_details.jpg" class="img-responsive" />
        </div>
    </div>
</div>