@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Versity</h1>
    <p class="lead">Versity is going to revolutionize the college food world</p>
    <p><a href="http://html5zombo.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h1>Who are we?</h1>
        <p class="front-page-content">
            Versity is an upcoming app that will revolutionize the college food world. We are an app designed and targeted for students in college,
             who are looking for a quick and smooth way to find the nearest food restaurants with the idea of inputting a personalized budget that meets 
            the needs of their wallets.
        </p>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-8">
        <h1>What problem did we see?</h1>
        <p class="front-page-content">
            When it comes to the mobile food industry, there is a gap that has yet to be filled. Lacking the ability to create a way that college 
            students can easily find restaurants within their budget is creating a devastating hole in every students wallet. Comparing to what is out there today,
            this target has been completely skipped over. The gap in the market goes further than just pothole in the road. We are talking about unfinished intersections, 
            roadblocks, and barricades that students run into when searching for inexpensive meals.
        </p>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-8">
        <h1>How do we solve that problem?</h1>
        <p class="front-page-content">
            With the college prices high, and the bank account low, Versity enables students to find restaurants fast and at their affordable price. Versity will master the college food world and
            permit students to see exactly what is available at their budget. Though even this will be a strong hand to college students, the app doesn’t stop there. It will continue to dissect 
            and filter through restaurants, and with a click of a button display exactly what is on that designated restaurants menu. This feature will run through every roadblock that is up and 
            make it so students feel at ease because they know they can find something to eat with whatever amount of money they have. 
        </p>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-8">
        <h1>What makes us different from Yelp and other search sites?</h1>
        <p class="front-page-content">
            The Market of food is a broad and dense market. When you break it down into the mobile food industry, you get a vast range of apps to download that essentially 
            operate the same functions. Versity is all about the user, and all about what the user wants to filter, not what the app says you can filter. Like other search sites, 
            they give you a range of an amount of money to put into a filter. Versity puts it in the customers hands and allows them to insert a budget down to every last cent. 
            If a user only had $6.54 in their wallet and wanted to see what they can get for that amount, they won’t have to sift through the dollar amounts higher that were included 
            in their range of filter. This makes Versity diverse and truly user friendly. The app is solely about the customer and can give options to anyone. Taking it further, Versity
            is a search site, but also incorporates the function of an online menu. You can find the restaurant that you want to eat at for your price, Now lets see what kind of food I
            can get  for my price. We don’t just mean the style of food, we mean the exact dish.
        </p>
    </div>
</div>